/*This is the CSS page for our final template.*/

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #cccccc;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	font-family: 'Georgia', serif;
	background-color: #lightgoldenrodyellow;
	color: #FFEDDF;
}
h4 {
	font-style: italic;
	font-size: 40px;
	font-family: 'Georgia', serif;
}
h3 {
	font-size: 30px;
}
p {
	font-family: 'Poppins'.dm-serif-text-regular 
  font-weight: 400;
  font-style: normal;
}
}

}
img {
	float: right;
	margin-right: 5%;
	margin-left: 5%;
}  

h3 {
  color: black;
  text-shadow: 2px 2px 5px black; /* Horizontal offset, vertical offset, blur radius, color */
}


/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .list {
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
}
h1 {
  text-shadow: 2px 2px #ff0000;
}